<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Test{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('package/bootstrap/css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('package/iconic/font/css/open-iconic-bootstrap.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block nav %}
            {% include 'module/nav.html.twig' %}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('package/jquery.js') }}"></script>
            <script src="{{ asset('package/bootstrap/js/bootstrap.js') }}"></script>
        {% endblock %}
    </body>
</html>
