{% trans_default_domain 'FOSUserBundle' %}
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <h1 class="text-center">Inscription</h1>
        <div class="jumbotron">
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            <div class="form form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'form form-control'}}) }}
            </div>
            <div class="form form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username, {'attr': {'class': 'form form-control'}}) }}
            </div>
            <div class="form form-group">
                {{ form_label(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form form-control'}}) }}
            </div>
            <div class="form form-group">
                {{ form_label(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form form-control'}}) }}
            </div>
            {{ form_widget(form) }}
            <div>
                <input type="submit" class="btn btn-primary float-right" value="{{ 'registration.submit'|trans }}" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
