{% import 'macro/globalMacro.twig' as macro %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Test</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ macro.ifActive('homepage') }}">
                <a class="nav-link" href="{{ url('homepage') }}"><span class="oi oi-home"></span> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {{ macro.ifActive('testRoute') }}">
                <a class="nav-link" href="{{ path('testRoute', {'parameter1': 'parametre1', 'parameter2': 'parametre2'}) }}"><span class="oi oi-link-intact"></span> TestRoute </a>
            </li>
            <li class="nav-item {{ macro.ifActive('articles') }}">
                <a class="nav-link" href="{{ path('articles') }}">Article(s)</a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <span class="text-light">Salut {{ app.user.username }} | </span>
                <a href="{{ path('fos_user_security_logout') }}"><button class="btn btn-success my-2 m-2" type="button">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</button></a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}"><button class="btn btn-success my-2 m-2" type="button">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</button></a>
                <a href="{{ path('fos_user_registration_register') }}"><button class="btn btn-info my-2" type="button">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</button></a>
            {% endif %}
        </div>
    </div>
</nav><br>

<div>

</div>