{% extends 'base.html.twig' %}
{% import 'macro/globalMacro.twig' as macro %}
{% block body %}
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h1 class="text-center">Annonce édition</h1>
            <div class="jumbotron">
                <a href="{{ path('annonce_index') }}"><span class="oi oi-arrow-left"></span> retour à la liste</a>
                {{ form_start(edit_form) }}
                {{ form_label(edit_form.content) }}<br>
                {{ form_widget(edit_form.content, {"attr": {"class": "form form-control"}}) }}
                {{ form_widget(edit_form) }}
                <input type="submit" class="btn btn-primary" value="Edit" />
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
{% endblock %}
