{% extends 'base.html.twig' %}
{% import 'macro/globalMacro.twig' as macro %}
{% block body %}
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h1 class="text-center">Annonce creation</h1>
            <div class="jumbotron">
                <a href="{{ path('articles') }}"><span class="oi oi-arrow-left"></span> Retour à la liste</a>
                {{ form_start(form) }}
                {{ form_label(form.content) }}<br>
                {{ form_widget(form.content, {'attr': {'class': 'form form-control'}}) }}
                {{ form_widget(form) }}
                <input type="submit" class="btn btn-primary" value="Create" />
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}