{% extends 'base.html.twig' %}
{% import 'macro/globalMacro.twig' as macro %}
{% block body %}
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <h1>Annonce</h1>
            <div class="jumbotron">
                <a href="{{ path('articles') }}"><span class="oi oi-arrow-left"></span> retour à la liste</a>
                <table class="table table-bordered table-secondary">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Content</th>
                        <th>action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ annonce.id }}</td>
                        <td>{{ annonce.content }}</td>
                        <td>
                            <a href="{{ path('annonce_edit', { 'id': annonce.id }) }}"><span class="oi oi-pencil"></span></a>
                            {{ form_start(delete_form) }}
                            <span class="oi oi-circle-x" style="cursor: pointer;" onclick="$(this).next('button').click()"></span>
                            <button type="submit" class="text-hide"></button>
                            {{ form_end(delete_form) }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

