{% macro ifActive(routenamecheck) %}
    {% set route = app.request.attributes.get('_route') %}
    {% if routenamecheck == route %}
        active
    {% endif %}
{% endmacro %}
{% macro isconnected() %}{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}1{% else %}2{% endif %}{% endmacro %}