{% trans_default_domain 'FOSUserBundle' %}
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="jumbotron">
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
                <div class="form-group">
                    <label for="username">{{ 'security.login.username'|trans }}</label>
                    <input type="text" class="form-control" id="username" placeholder="Username" name="_username" value="{{ last_username }}" required="required" />
                </div>
                <div class="form-group">
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" name="_password" required="required" />
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    </label>
                </div>
                <div class="col text-left">
                    <input class="btn align-self-end float-right btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                </div>
            </form>
        </div>
    </div>
</div>
