{% extends 'base.html.twig' %}
{% import 'macro/globalMacro.twig' as macro %}
{% block body %}
    {#permet d'avoir tout les parametre depuis twig#}
    {% set parameters = app.request.attributes.get('_route_params') %}

    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h1 class="text-center">Categorie edit</h1>
            <div class="jumbotron">
                <a href="{{ path('articles') }}">
                    <p>
                        <span class="oi oi-arrow-left"></span> retour à la liste
                    </p>
                </a>
                {{ form_start(edit_form) }}
                <div class="form-group">
                    {{ form_label(edit_form.value) }}
                    {{ form_widget(edit_form.value) }}
                </div>
                {{ form_widget(edit_form) }}
                <input type="submit" class="btn btn-primary" value="Edit" />
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
{% endblock %}