{% extends 'base.html.twig' %}
{% import 'macro/globalMacro.twig' as macro %}
{% block body %}
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h1 class="text-center">Categorie creation</h1>
            <div class="jumbotron">
                <a href="{{ path('articles') }}">Back to the list</a>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Create" />
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}