{% extends 'base.html.twig' %}
{% import 'macro/globalMacro.twig' as macro %}
{% block body %}
    {#permet d'avoir tout les parametre depuis twig#}
    {% set parameters = app.request.attributes.get('_route_params') %}
    <div class="container">
        <h3 class="text-center">{{ title|upper }}</h3>
        <div class="jumbotron">
            <ul>
                {% for categori in categories %}
                    <li>{{ categori.value }}
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                           | <a href="{{ path('categorie_show', {'id': categori.id}) }}"><span class="oi oi-eye"></span></a>
                           | <a href="{{ path('categorie_edit', {'id': categori.id}) }}"><span class="oi oi-pencil"></span></a>
                           | <a href="{{ path('categorie_delete_in_list', {'id': categori.id}) }}" onclick="return confirm('êtes-vous sur de supprimer ce {{ categori.value }}?')"><span class="oi oi-circle-x"></span></a>
                        {% endif %}
                    </li>
                    <ul>
                        {% for annonce in categori.annonces %}
                            <li>{{ annonce.content|slice(0, 10) ~ '...' }} <span class="badge badge-info">{{ annonce.editBy.username }}</span>
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                   | <a href="{{ path('annonce_show', {'id': annonce.id}) }}"><span class="oi oi-eye"></span></a>
                                   | <a href="{{ path('annonce_edit', {'id': annonce.id}) }}"><span class="oi oi-pencil"></span></a>
                                   | <a href="{{ path('annonce_delete_at_view', {'id': annonce.id}) }}" onclick="return confirm('êtes-vous sur de supprimer l\'annonce id: {{ annonce.id }}?')"><span class="oi oi-circle-x"></span></a>
                                {% endif %}
                            </li>
                        {% endfor %}
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li>
                            <a href="{{ path('annonce_new', {'idCat': categori.id}) }}"><span class="oi oi-plus"></span></a>
                        </li>
                        {% endif %}
                    </ul>
                {% endfor %}
            </ul>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <ul>
                <li>
                    <a href="{{ path('categorie_new') }}"><span class="oi oi-plus"></span></a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}

