{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="jumbotron">
        <h3 class="text-center">
            {{ message|upper }}
        </h3>
    </div>
</div>
{% endblock %}

