{% extends 'base.html.twig' %}

{% block body %}
{#permet d'avoir tout les parametre depuis twig#}
{% set parameters = app.request.attributes.get('_route_params') %}
<div class="container">
    <h3 class="text-center">{{ title|upper }}</h3>
    <div class="jumbotron">
        <h4>parametre depuis Twig: </h4>
        <p> actuellement, les paramètres envoyer sont : </p>
        <ul>
            {% for key,parameter in parameters %}
                <li>{{ key }} => {{ parameter }}</li>
            {% endfor %}
        </ul>

        <h4>parametre depuis le Controller: </h4>
        <ul>
            <li> parametre1 => {{ parameter1 }}</li>
            <li> parametre2 => {{ parameter2 }}</li>
        </ul>
    </div>
</div>
{% endblock %}

